<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <h1>Cadastro e Listagem de Funcionarios</h1>
    <form action="">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </form>

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr each>
          <td>id</td>
          <td>nome</td>
          <td>cpf</td>
          <td>email</td>
          <td>salario</td>
          <td>idade</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>